
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
h1{  
    color: #ce0000;
    font-size: 50px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;


}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.signosvitales{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 30px;

}

@media screen and (max-width:850px) {

.signosvitales{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 30px;
}



}