.cuadromedicion{
    width: 360px;
    height: 250px;
    border-radius: 50px;
    background: rgb(60,255,105);
    background: radial-gradient(circle, rgb(38, 238, 221) 12%, rgb(160, 187, 236) 86%);
    border: 1px black solid;

}



img{
    width: 100px;
    height: 100px;
}

.descripcion{
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
}

.info{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
}

.medida{
    font-size: 100px;
    font-weight: 900;
}