
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
h1{  
    color: #ce0000;
    font-size: 50px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;


}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.signosvitales{
    display: flex;
    gap: 100px;
}

@media screen and (max-width:850px) {

.signosvitales{
    flex-direction: column;
    gap: 20px
}



}